*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Segoe UI", sans-serif;
    background: #f9fafb;
    color: #111827;
    line-height: 1.6;
}
/* nav section designing */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: white;
    border-bottom: 1px solid #e5e7eb;
}

.logo{
    font-size: 20px;
    font-weight: 700;
}

.nav-btn{
    text-decoration: none;
    color: #4f46e5;
    font-weight: 500;
}

/* hero section designing */
.hero{
    text-align: center;
    padding: 100px 20px;
}

.hero h1{
    font-size: 42px;
    margin-bottom: 20px;
}

.hero p{
    max-width: 600px;
    margin: 0 auto 30px;
    color: #6b7280;
}

/* Buttons design */

.btn-primary{
    background: #4f46e5;
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}

/* Features designing */

.feature{
    background: #f9fafb;
    padding: 24px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
}

.feature h3{
    margin-bottom: 10px;
}

/* CTA section designing */

.cta{
    text-align: center;
    padding: 80px 20px;
}

.cta h2{
    font-size: 28px;
    margin-bottom: 20px;
}

/* Footer section designing */

footer{
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #6b7280;
}

/* AUTH PAGE */
.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f4f6;
}

.auth-container {
  background: white;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.auth-container h2 {
  margin-bottom: 10px;
}

.auth-subtitle {
  margin-bottom: 30px;
  color: #6b7280;
  font-size: 14px;
}

.auth-container label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

.auth-container input:focus {
  outline: none;
  border-color: #4f46e5;
}

.full-width {
  width: 100%;
}

.auth-switch {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.auth-switch a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 500;
}
